body {
  display: flex;
  height: 100vh;
  background: url('../images/love.jpg') no-repeat center/cover fixed;
  line-height: 1.5;
  font-size: var(--text-18px);
  font-family: 'Roboto', sans-serif;
  padding: 0 15px;
}

button {
  font-family: 'Roboto', sans-serif;
}
