@font-face {
  font-family: 'Dancing Script';
  src: url('../fonts/Dancing-Script/DancingScript-VariableFont.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

:root {
  --red: #dc2626;
  --green: #a7f3d0;
  --text-14px: 0.875rem;
  --text-16px: 1rem;
  --text-18px: 1.125rem;
  --text-20px: 1.25rem;
  --text-24px: 1.5rem;
  --text-30px: 1.875rem;
}
