.btn {
  font-family: 'Dancing Script', cursive;
  font-size: 1.44rem;
  cursor: pointer;
  transition: all 0.5s;
  animation: fadeIn 2s ease-in;
}

.btn:hover {
  transform: scale(1.11);
}

@media all and (min-width: 48em) {
  .btn {
    width: 500px;
    font-size: 1.7rem;
  }
}
