.btn {
  font-family: 'Dancing Script', cursive;
  font-size: var(--text-24px);
  cursor: pointer;
  transition: all 0.5s;
  animation: fadeIn 2s ease-in;
}

.btn:hover {
  transform: scale(1.11);
}

@media all and (min-width: 48em) {
  .btn {
    width: 500px;
    font-size: var(--text-30px);
  }
}
