.box {
  margin: auto;
  padding: 10px 12px;
  border: none;
  background: rgba(255, 240, 213, 0.5);
  backdrop-filter: blur(4px);
  color: #333;
  border-radius: 15px;
  box-shadow: 16px 14px 35px -3px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

@media all and (min-width: 48em) {
  .box {
    max-width: 500px;
  }
}
